Body {
    color:rgb(255, 255, 255);
    background:rgb(24, 22, 22);
   }
   
   header {
       border-bottom: solid 2px rgb(255, 0, 55);
       padding: 40px;
       font-size: 40px;
       color: rgb(223, 15, 213);
   }
   
    section{
       background: rgb(0, 0, 0);
       padding-bottom: 80px;
       padding-top: 80px;
       display: Flex;
       justify-content: center;
   
    }
   
    .Chamad-texto{
       margin-right: 1%
    }
   
    div{
   margin-right: 240px;
    }